* {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 48px;
    background-color: black;
}

html, body {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    line-height: 1.5em;
    font-size: 20px;
}

#wrapper {
    max-height: 100%;
    margin-top: 100px;
    text-align: center;
}


.info {
    color: red;
    text-align: center;
    padding-top: 50px;
}

button, select {
    border: 3px solid grey;
    padding: 10px;
    color: white;
}

#repCount,
#stepCount,
#routine,
#timer,
#routinesList,
#startBtn,
#stopBtn {
    display: block;
    width: 100%;
    margin-top: 50px;
}

#timer {
    text-align: center;
    margin-top: 100px;
    color: white;
}

#routinesList {
    padding-left: 22%;
}

#routine, #timer {
    line-height: 1.5em;
    font-size: 65px;
}
