* {
    background-color: black;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 48px;
}

html, body {
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

#wrapper {
    margin-top: 100px;
    max-height: 100%;
    text-align: center;
}

.info {
    color: red;
    padding-top: 50px;
    text-align: center;
}

button, select {
    border: 5px solid grey;
    color: white;
    padding: 10px;
}

#repCount,
#stepCount,
#routine,
#timer,
#routinesList,
#startBtn,
#stopBtn {
    display: block;
    margin-top: 40px;
    width: 100%;
}

#startBtn,
#stopBtn {
    display: inline-block;
    width: 40%;
}

#startBtn { background-color: green; }
#stopBtn { background-color: red; }

#routine {
    font-size: 60px;
    line-height: 1.5em;
}

#timer {
    color: white;
    font-size: 75px;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}

#routinesList {
    direction: rtl;
    font-size: 32px;
    padding-right: 5px;
    text-align-last: center;
    text-transform: uppercase;
}
